#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-1 H1 {
  color: #ffffff;
}
#header1-1 P {
  color: #ffffff;
}
#features1-2 P {
  color: #000000;
}
#msg-box4-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#header3-8 H3 {
  text-align: center;
}
#header3-8 P {
  text-align: center;
}
#menu-a .mbr-brand__name {
  font-size: 16px;
}
#menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-f .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-f .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-f .mbr-article {
  color: #fff;
}
#content5-f .mbr-article P {
  text-align: center;
}
#menu-b .mbr-brand__name {
  font-size: 16px;
}
#menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-h .mbr-header__text {
  color: #ffffff;
}
#msg-box4-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-h .mbr-article {
  color: #ffffff;
}
